receivers:
  otlp:
    protocols:
      grpc:
        endpoint: 0.0.0.0:4317
      http:
        endpoint: 0.0.0.0:4318

processors:
  resource: # Resource spec https://opentelemetry.io/docs/specs/semconv/resource/
    attributes:
      - action: insert
        key: loki.format
        value: raw
      - action: insert
        key: loki.resource.labels
        value: service.name, app, runtime
  
  batch:
    timeout: 1s
    send_batch_size: 1024

connectors:
  spanmetrics:
    histogram:
      explicit:
        buckets: [2ms, 5ms, 10ms, 25ms, 50ms, 100ms, 200ms, 500ms, 1s, 2s, 5s, 10s]
    aggregation_temporality: "AGGREGATION_TEMPORALITY_CUMULATIVE"
    metrics_flush_interval: 15s

exporters:
  prometheus: # metrics
    endpoint: "0.0.0.0:8889"
    namespace: demo
    send_timestamps: true
    resource_to_telemetry_conversion:
      enabled: true
    const_labels:
      exported: "collector"
  
  otlp/tempo:
    endpoint: tempo:4317
    tls:
      insecure: true
  
  otlphttp/loki:
    endpoint: http://loki:3100/otlp
    tls:
      insecure: true
  
  debug:
    verbosity: normal

service:
  pipelines:
    traces:
      receivers: [ otlp ]
      processors: [ batch ]
      exporters: [ otlp/tempo, spanmetrics, debug ]
    
    metrics:
      receivers: [ otlp, spanmetrics ]
      processors: [ batch ]
      exporters: [ prometheus ]
    
    logs:
      receivers: [ otlp ]
      processors: [ batch, resource ]
      exporters: [ otlphttp/loki, debug ]